<% include includes/head.ejs %>

<div class="container row pt-4">

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <%= user.name %> (<%= user.username %>)
            </a>
            <a href="/logout" class="list-group-item list-group-item-action">خروج از اینترنت</a>
            <a href="/logout/all" class="list-group-item list-group-item-action">خروج تمامی دستگاه ها از اینترنت</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="">
            <% if(usage) { %>

            <div>
                <span>گروه کاربری: </span>
                <strong><%= usage.groupname %></strong>
            </div>
            <br>

            <% if(usage.status === 'yearly') { %>
            <div class="alert alert-danger alert-dismissable">
                مصرف شما از حد مجاز بیشتر شده است. و از این پس با سرعت پایین می توانید از اینترنت استفاده کنید.
            </div>
            <% } %>

            <div class="row">
                <% for(let type of ['daily', 'weekly', 'monthly']) { %>
                <div class="col-md-4">
                    <div class="card card-outline-primaryd">
                        <div class="card-block text-center">
                            <div id="g_<%= type %>" style="height: 200px"></div>
                            <%= humanFileSize(usage.usage[type]) %>
                            <span>از</span>
                            <%= usage.package[type] %>
                            <span>گیگ</span>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <br>

            <div class="card">
                <div class="card-header">
                    <span>کانکشن های فعال</span>
                </div>
                <table class="table table-striped card-block table-bordered">
                    <thead>
                    <tr>
                        <th>IP</th>
                        <th>دانلود</th>
                        <th>زمان اتصال</th>
                        <th>قطع اتصال</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(let session of usage.sessions) { %>
                    <tr>
                        <td><%= session.framedipaddress %></td>
                        <td><%= humanFileSize(session.usage) %></td>
                        <td><%= session.acctstarttime %></td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="/sessions/logout/<%= session.acctsessionid %>">
                                x
                            </a>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>

            <% } %>
        </div>

    </div>
</div>


<script src="/static/js/raphael.js"></script>
<script src="/static/js/justgage.js"></script>

<script>
    <% for(let type of ['daily', 'weekly', 'monthly']) { %>
    new JustGage({
        id: "g_<%= type %>",
        value: <%= usage.usage[type] %>,
        min: 0,
        hideValue:true,
        hideMinMax:true,
        max: <%= usage.package[type] * 1000000000 %>,
        title: "<%= {daily:'روزانه', weekly:'هفتگی', monthly:'ماهیانه'}[type] %>"
    });
    <% } %>
</script>

<% include includes/footer.ejs %>